@import "../../../style/placeholder";
@import "../../../style/mixin";
@import "../../../style/variable";

.container {
    @extend %card;

    width: 333px;
    height: 221px;
    border-radius: 20px;
    position: relative;
    cursor: pointer;
    @media screen and (max-width: 768px) {
        width: 252px;
        height: 165px;
    }

    .likeContainer {
        width: 28px;
        height: 28px;
        border-radius: 100%;
        background-color: #fff;
        position: absolute;
        top: 10px;
        right: 20px;
        @include flexLayout(center, center, row);

        svg {
            font-size: 18px;
        }

        .filledHeart {
            color: $secondary_color;
        }
    }

    .imageContainer {
        width: 100%;
        height: 100%;
    }
    .image {
        display: block;
        object-fit: cover;
        width: 100%;
        height: 100%;
        overflow: hidden;
        border-radius: 20px;
    }

    .title {
        margin: 0;
        position: absolute;
        bottom: 7px;
        left: 10px;
    }
}

.unselected {
    opacity: 0.5;
}
