@use "../../style/variable" as v;
@use "../../style/mixin" as m;

.mainSearchPOI {
  background-color: v.$cream_color;
}
.titleSearchPOI {
  text-align: center;
  margin: 0 auto;
  padding-bottom: 3rem;

  .subtitlePOI {
    padding-top: 40px;
  }
  .subtitlePOI :first-child {
    padding-bottom: 18px;
  }
}

.filterSearchComponent {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  &:last-child {
    padding-bottom: 40px;
  }
}
.subtitleCity {
  text-align: left;
  padding-top: 40px;
}

.buttonSearchPoi {
  @include m.buttonColor(v.$secondary_color, v.$primary_color);
  @include m.buttonSize(unset, unset, 20px 32px);
}

.messageToCreatePOI {
  padding-bottom: 50px;
}

.WaveImage {
  background-image: url(./fond_vague_creme.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-size: 100%;
  height: 28vh;
}

.pictoPlane {
  position: relative;
  img {
    position: absolute;
    right: 0;
    top: -130px;
    height: 250px;
    transform: scaleY(-1);
  }
}

.presentationButton {
  color: v.$primary_color;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  &:hover {
    @include m.buttonColor(v.$cream_color, v.$primary_color);
    transition: background-color 0.4s ease;
  }
}

.imageSection {
  background-image: url("../../../public/map-screen.png");
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-position: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
