@use "../../style/variable" as v;
@use "../../style/mixin" as m;

.profilePage {
  color: v.$cream_color;
}

.formSection {
  font-family: "Poppins", sans-serif;
  @include m.flexLayout(flex-start, center);
  flex-wrap: wrap;
  form {
    @include m.flexLayout(flex-start, flex-start, row);
    flex-grow: 3;
    input {
      color: v.$cream_color;
      font-family: "Comic Neue", cursive;
      font-size: 1.1rem;
      background-color: v.$primary_color;
      padding: 1rem;
      border: 1px solid v.$cream_color;
      border-radius: 3rem;
      width: 80%;
      &[name="bio"] {
        height: 100%;
      }
    }
  }
}

.profileAvatarAndName {
  font-family: "Poppins", sans-serif;
  @include m.flexLayout(center, center, column);
  gap: 0.5rem;
  flex-grow: 1;
}

.avatarImg {
  position: relative;
  img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
  }
}

.buttonSection {
  @include m.flexLayout(center, center, column);
  flex-grow: 1;
  gap: 1rem;
  button {
    @include m.unbuttonize;
    @include m.buttonSize(250px, 70px, 0.5rem);
    @include m.buttonColor(v.$cream_color, red);
    border: 1px solid red;
    text-align: center;
  }
}

.formColumns {
  flex-grow: 1;
  &:last-child {
    height: 100%;
  }
  div {
    @include m.flexLayout(flex-start, flex-start, column);
    gap: 1rem;
    margin-bottom: 1rem;
    position: relative;
    .icon {
      position: absolute;
      color: v.$cream_color;
      top: 61%;
      right: 16%;
      cursor: pointer;
    }
  }
}

.favoritesSection {
  background-color: v.$cream_color;
}
