@use "../../../../style/mixin" as m;
@use "../../../../style/variable" as v;

.buttonStyle {
	width: 29px;
	height: 29px;
	color: v.$primary_color;
	border-radius: 4px;
	border: 1px solid v.$gray_color;
	background-color: v.$white_color;
	&:hover {
		background-color: v.$cream_color;
	}
	&:active {
		background-color: v.$secondary_color;
	}
}
