@use "../../../../style/mixin" as m;
@use "../../../../style/variable" as v;

.buttonIcon {
	width: 29px;
	height: 29px;
	color: v.$primary_color;
	border-radius: 4px;
	border: 1px solid v.$gray_color;
	background-color: v.$white_color;
	&:hover {
		background-color: v.$cream_color;
		cursor: pointer;
	}
	&:active {
		background-color: v.$secondary_color;
	}
}

.buttonText {
	background-color: v.$primary_color;
	border-radius: 10px;
	color: v.$white_color;
	padding: 4px 8px;
	border: unset;
	height: 31px;
	&:hover {
		cursor: pointer;
	}
}
