@use "variable" as v;

%card {
  border-radius: 20px;
  //background: url(<path-to-image>), lightgray 50% / cover no-repeat;
  box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.4);
}

%inputForm {
  border-radius: 10px;
  background-color: v.$white_color;
}
