//Colors

$primary_color: #090f43;
$secondary_color: #f3df24;

$cream_color: #f5f6e2;
$white_color: #ffffff;
$gray_color: #d9d9d9;
$gray_color_dark: #6b6b6b67;

$shadow_dark_color: #0000000d;

//Fonts

$poppinsFont: "Poppins", sans-serif;
$comicNeueFont: "Comic Neue", cursive;
