@use "./mixin" as m;
@use "./variable" as v;
@use "./placeholder";

.section {
  height: 100vh;
  @include m.flexLayout(center, center, column);
  background: url("../../public/bg-wave.svg"), url("../../public/Illu_man.svg");
  background-position: 100% 320%, left 17% bottom 20%;
  background-size: auto, 11%;

  h2 {
    font-family: v.$comicNeueFont;
    font-size: 48px;
    font-weight: 700;
  }

  .h2_login {
    color: v.$cream_color;
  }

  .h2_register {
    color: v.$primary_color;
  }

  // FORM
  form {
    border-radius: 20px;
    border: 3px solid v.$secondary_color;
    background: v.$secondary_color;
    @include m.flexLayout(space-around, center, column);
    width: 40vw;
    height: 60vh;
    padding: 2em;

    h3 {
      @include m.flexLayout(start, start, column);
    }

    p {
      margin: 0;
      font-family: v.$poppinsFont;
      color: red;
      font-weight: 500;
      text-align: center;
    }

    div {
      position: relative;
      width: 100%;
      display: flex;
      @include m.flexLayout(center, center);
    }
    input[type="text"],
    input[type="email"],
    input[type="password"],
    select {
      @extend %inputForm;
      @include m.buttonSize(80%, auto, unset);
      padding: 1em;
      text-indent: 40px;
      border: none;
    }
    svg {
      position: absolute;
      left: 65px;
      z-index: 2;
    }

    input::placeholder,
    option {
      color: v.$primary_color;
      font-size: 15px;
      font-family: "Comic Neue", cursive;
      font-weight: 700;
      margin-left: 2em;
    }

    input:focus {
      outline: none;
    }

    input[type="submit"] {
      border-radius: 10px;
      background: v.$cream_color;
      color: v.$primary_color;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      padding: 0.5em 1em;
      border: none;
    }

    span {
      color: v.$primary_color;
      text-align: center;
      font-size: 16px;
      font-family: v.$poppinsFont;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
    }

    div {
      display: flex;
      gap: 1em;

      img {
        width: 100px;
        height: auto;
      }
    }

    a {
      color: v.$primary_color;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }
    // Contribution form

    select {
      @include m.buttonSize(85%, auto, unset);
    }
  }
}
.section_login {
  @extend .section;
  background: url("../../public/bg-wave_login.svg"),
    url("../../public/Illu_man_login.svg");
  background-size: cover, 11%;
  background-position: 0 180px, left 10% top 25%;
  background-repeat: no-repeat, no-repeat;
}

.section_register {
  @extend .section;
  background: url("../../public/bg-wave.svg"), url("../../public/Illu_man.svg");
  background-size: cover, 11%;
  background-position: -10px -160px, left 10% bottom 25%;
  background-repeat: no-repeat, no-repeat;
}

@media (max-width: 768px) {
  .section_login {
    background-size: cover, 30%;
    background-position: 0 180px, left 50% top 5%;
    background-repeat: no-repeat, no-repeat;
    justify-content: flex-end;
    form {
      width: 70vw;
      height: 50vh;
      padding: 0.5em;
      margin-bottom: 7rem;
      svg {
        left: 15%;
      }
    }
  }

  .section_register {
    background: url("../../public/bg-wave_login.svg"),
      url("../../public/illu_man_lying.svg");
    background-size: cover, 55%;
    background-position: 0 180px, left 50% top 15%;
    background-repeat: no-repeat, no-repeat;
    justify-content: flex-end;
    form {
      width: 70vw;
      height: 50vh;
      padding: 0.5em;
      margin-bottom: 7rem;
      svg {
        left: 30px;
      }
    }
  }
}
