@use "../../../style/mixin" as m;
@use "../../../style/variable" as v;

.headerDesktop {
  @include m.flexLayout(space-between, center);
  padding: 2rem;
  border-bottom: 1px solid v.$secondary_color;
}

.menu {
  @include m.flexLayout(space-between, center);
  ul {
    display: flex;
    li {
      list-style-type: none;
      margin-right: 2rem;
      &:hover {
        color: v.$secondary_color;
      }
    }
  }
}

.buttonHeader {
  @include m.unbuttonize;
  @include m.buttonColor(v.$secondary_color, v.$primary_color);
  padding: 0.2rem 0.5rem 0.2rem 0.5rem;
  border-radius: 0.5rem;
  &:hover {
    @include m.buttonColor(v.$cream_color, v.$primary_color);
  }
}

@media (max-width: 1000px) {
  .headerDesktop {
    @include m.flexLayout(center, center);
    flex-direction: column;
  }
}
