@use "../../style/mixin" as m;
@use "../../style/variable" as v;

// 4. Button, bg-color + icône

.contactPage {
  color: white;
}

.contactHeader {
  // 1. Limiter la largeur à Xpx
  // 2. Appliquer des marges horizontales automatiques
  //    Les marges automatiques,
  //    elles calculent la marge en fonction de la largeur de l'écran
  //    et la largeur de l'élément.
  //
  //    100vw -> 100% de la largeur de l'écran
  //    (100vw - Xpx) / 2 à gauche
  //    (100vw - Xpx) / 2 à droite
  //
  //    margin: 0 auto; (0 -> vertical ; auto -> horizontal)
  max-width: 750px;
  margin: 0 auto;
  text-align: center;

  h1 {
    font-family: v.$poppinsFont;
    font-size: 48px;
    font-weight: 200;
    margin-top: 50px;
  }

  p {
    margin-bottom: 2rem;
  }
}

.contactForm {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1250px;
  margin: 0 auto;

  .formGroup {
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 30px;

    input,
    textarea {
      background-color: transparent;
      border: 2px solid white;
      border-radius: 4px;
      width: calc(100% - 1rem);
      padding: 16px 8px;
      color: white;
      font-family: v.$poppinsFont;
    }

    textarea {
      resize: none;
    }

    label {
      text-align: left;
      margin-left: 0.5rem;
      font-family: v.$poppinsFont;
    }
  }

  .submitButton {
    @include m.unbuttonize;
    @include m.buttonColor(v.$secondary_color, v.$primary_color);
    padding: 10px;
    border-radius: 1rem;
    margin-top: 30px;
    font-family: v.$poppinsFont;
    font-weight: 600;
    &:hover {
      @include m.buttonColor(v.$cream_color, v.$primary_color);
      transition: background-color 0.4s ease;
    }
    .iconPlane {
      position: relative;
      padding-left: 20px;
    }
  }
}

.submitMessage {
  font-family: v.$poppinsFont;
  padding: 20px;
}
