.mapWrap {
  position: relative;
  width: 100%;
  height: calc(
    100vh - 77px
  ); /* calculate height of the screen minus the heading */
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.titleStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .map {
    height: 300px; /* Ajustez la hauteur pour la version mobile */
  }
}

.geocoding {
  position: absolute;
  top: 10px;
  left: 10px;
}

.geocoding-control-input {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px 15px;
  // Autres styles que vous souhaitez écraser...
}

.activeGeocoding {
  // background-color: red;
  // border: 10px solid yellow;
  padding: 50px 40px;
}
