.mapWrap {
  position: relative;
  width: 100%;
  height: calc(
    100vh - 77px
  ); /* calculate height of the screen minus the heading */
}

.map {
  position: absolute;
  width: 100%;
  height: 100%;
}

.titleStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .map {
    height: 300px; /* Ajustez la hauteur pour la version mobile */
  }
}

.geocoding {
  position: absolute;
  top: 10px;
  left: 10px;

  // Div qui contient la search bar
  div:first-child {
    display: flex;
    justify-content: center;
    width: 100%;
  }

  // Search bar
  form {
    border: solid yellow !important;
    width: 400px !important;
    max-width: none !important;
    height: 40px;
    padding-left: 10px;
    padding-top: 5px;
    padding-right: 10x;
    padding-bottom: 5px;

    div {
      flex-direction: row-reverse !important;
      // !important donne la priorité aux styles
    }
  }
}

.geocoding-control-input {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  padding: 10px 15px;
  // Autres styles que vous souhaitez écraser...
}

.activeGeocoding {
  width: 100%;
  display: flex;
  align-items: center;
  z-index: 5;
  border-radius: 5px;
}
