@use "../../style/mixin" as m;
@use "../../style/variable" as v;

.map {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.titleStyle {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}

.mockupImg {
  width: 50vw;
  padding: 1rem;
}

.mapButton {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  color: v.$primary_color;
  border: none;
  &:hover {
    @include m.buttonColor(v.$cream_color, v.$primary_color);
    transition: background-color 0.4s ease;
  }
}

.clusterIcon {
  width: 50px;
  height: 50px;
  position: relative;

}

.counter {
  span {
    position: absolute;
    background-color: v.$primary_color;
    color: white;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    right: 0;
    z-index: 1000;
    text-align: center;
    top: -5px;
    right: -10px;
  }
}
// POPUP 

// Layer 
.leaflet-control-layers-expanded {
  background-color: red;
}
