@use "../../../style/variable" as v;
@use "../../../style/mixin" as m;

.backgroundScreen {
  width: 100%;
  height: 100vh;
  background-color: black;
  opacity: 0.5;
  position: fixed;
  top: 0;
  z-index: 2;
}

.modalContainer {
  color: v.$primary_color;
  width: 30vw;
  height: 30vh;
  position: fixed;
  top: 35%;
  left: 35%;
  margin: auto;
  background-color: white;
  z-index: 3;
  border-radius: 1rem;
  border: 3px solid v.$secondary-color;
  @include m.flexLayout(space-evenly, center, column);
  h3 {
    font-size: 20px;
  }
  button {
    @include m.unbuttonize;
    @include m.buttonSize(100px, 50px, 0.5rem);
    @include m.buttonColor(v.$secondary-color, v.$primary_color);
    margin: 1rem;
    text-align: center;
    cursor: pointer;
  }
  -webkit-animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-top 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

input::file-selector-button {
  @include m.unbuttonize;
  @include m.buttonSize(150px, 30px, 0);
  @include m.buttonColor(v.$white_color, v.$primary_color);
  border: 2px solid v.$secondary-color;
  margin-right: 1rem;
  text-align: center;
  cursor: pointer;
}

/* ----------------------------------------------
 * Generated by Animista on 2023-11-7 16:17:31
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */

/**
 * ----------------------------------------
 * animation slide-top
 * ----------------------------------------
 */
@-webkit-keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
@keyframes slide-top {
  0% {
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
  100% {
    -webkit-transform: translateY(-100px);
    transform: translateY(-100px);
  }
}
