@use "../../../style/variable" as v;
@use "../../../style/mixin" as m;

.containerDdl {
	display: flex;
	align-items: center;
	border-top: 2px solid v.$primary_color;
	border-bottom: 2px solid v.$primary_color;
	padding: 14px 0;
	justify-content: space-between;
	flex: 1;
}
