@import "../../style/variable";
@import "../../style/mixin";

.container {
  background-color: #fff;
  border-radius: 20px;
  z-index: 100;
  position: absolute;
  bottom: 0px;
  padding: 36px 18px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  height: 80vh;
  width: 350px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

  .close {
    color: $primary_color;
    position: absolute;
    right: 7px;
    top: 10px;
    cursor: pointer;
    svg {
      font-size: 18px;
    }
  }

  .imageContainer {
    max-width: 348px;
    height: 230px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 20px;
    }
  }

  .header {
    display: flex;
    justify-content: space-between;
    gap: 30px;

    h3 {
      font-size: 28px;
      font-family: $comicNeueFont;
    }

    .icons {
      display: flex;
      gap: 15px;
    }

    svg {
      font-size: 22px;
      cursor: pointer;
    }

    .filledHeart {
      color: $secondary_color;
    }
  }

  .buttonContainer {
    margin: 0 auto;
    margin-top: 26px;
    .mapButton {
      @include unbuttonize;
      @include buttonSize(186px, 39px, 12px);
      @include buttonColor($secondary_color, $primary_color);
      display: flex;
      justify-content: center;
      align-items: center;
      font-family: $poppinsFont;
      font-weight: 600;
      margin: 0 auto;
      cursor: pointer;
    }

    .icon {
      margin-right: 10px;
    }
  }

  .details {
    background-color: $cream_color;
    position: relative;
    border-radius: 20px;
    padding: 20px;
    color: $primary_color;
    display: flex;
    flex-direction: column;
    gap: 20px;
    max-height: 300px;
    overflow-y: auto;
    scrollbar-color: $cream_color #d9d9d9;
    scrollbar-width: thin;
    &::-webkit-scrollbar-track {
      border-radius: 0 20px 20px 0;
      background-color: #d9d9d9;
    }
    &::-webkit-scrollbar-thumb {
      border-radius: 20px;
      height: 70px;
      background-color: $cream_color;
    }
    &::-webkit-scrollbar {
      width: 14px;
    }
    &::-webkit-scrollbar-button {
      width: 0;
      height: 0;
    }
  }

  .center {
    @include flexLayout(center, center, column);
    gap: 20px;
    font-size: 20px;
    p {
      text-align: center;
    }
  }

  .loginButton {
    @include unbuttonize;
    @include buttonSize(191px, 49px, 18px);
    @include buttonColor($secondary_color, $primary_color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $poppinsFont;
    font-weight: 600;
    margin: 0 auto;
    cursor: pointer;
  }
}

.titleContainer {
  display: flex;
  align-items: center;
}

.likeButtonContainer {
  height: 40px;
  display: flex;
  justify-content: flex-end;
  svg {
    font-size: 30px;
    cursor: pointer;
  }
}

@media (max-width: 768px) {
  .container {
    position: fixed;
    top: 0;
    left: 0;
  }
}
