@import "../../style/variable";

.carousselContainer {
    background-color: $cream_color;
    color: $primary_color;
    display: flex;
    flex-direction: column;

    .title {
        font-weight: 500;
        color: $primary-color;
        margin-top: 50px;
    }
}
