@use "../../style/variable" as v;
@use "../../style/mixin" as m;

.backgroundWave {
  background-image: url("../../../public/wave_with_map.svg");
  height: 59vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 70% -10%;
  padding-bottom: 10rem;
}

// PRESENTATION SECTION

.presentationSection {
  width: 45vw;
  height: 60vh;
  margin-left: 5rem;
  @include m.flexLayout(space-around, flex-start);
  flex-direction: column;
  & > p {
    text-shadow: 0 0 3px v.$primary_color;
  }
}

.presentationButton {
  color: v.$primary_color;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  &:hover {
    @include m.buttonColor(v.$cream_color, v.$primary_color);
    transition: background-color 0.4s ease;
  }
}

// MAP SECTION

.mapSection {
  @include m.flexLayout(space-around, center);
  flex-direction: column;
  margin: 5rem 0 10rem 0;
  gap: 1rem;
}

// SEARCH SECTION

.searchSection {
  background-color: v.$cream_color;
  &BottomLine {
    @include m.flexLayout(normal, center);
    flex-direction: column;
    width: 100%;
    padding-bottom: 5rem;
  }
}

.mockup {
  height: 50vh;
  @include m.flexLayout(center, center);
}

// MOBILE STYLE

@media (max-width: 768px) {
  .mobileSection {
    height: 95vh;
    background-image: url("../../../public/bg-wave_login.svg");
    background-repeat: no-repeat;
    background-size: 250%;
    background-position: 10% bottom;
    h1 {
      text-align: center;
    }
    img {
      width: 100vw;
    }
    button {
      margin: auto;
    }
  }

  .presentationButton {
    border: none;
  }
}

@media (max-width: 499px) {
  .mobileSection {
    background-repeat: no-repeat;
    background-size: 250%;
    background-position: 90% bottom;
  }
}
@import "../../style/variable";

.carousselContainer {
  background-color: $cream_color;
  color: $primary_color;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;

  .title {
    font-weight: 500;
    color: $primary-color;
    margin-top: 50px;
  }
}

.imageSection {
  background-image: url("../../../public/hero-img-home.jpg");
  width: 100%;
  height: 50vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: 70%;
}
