@import "../../style/variable";

.carousselContainer {
    .title {
        text-align: center;
        font-weight: 500;
    }
    background-color: $cream_color;
    color: $primary_color;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px 20px;
}
