@use "../../../style/variable" as v;
@use "../../../style/mixin" as m;

.mainFooter {
	padding-top: 300px;
	padding-bottom: 30px;
}
.sectionFooter {
	display: flex;
	justify-content: center;
	width: 100%;
	padding-bottom: 100px;
	.titleLogoFooter {
		display: block;
	}
	.imageLayout {
		@include m.flexLayout(center, unset);
		padding-top: 30px;
	}

	.categoryFooter {
		padding-top: 6px;
		display: flex;
		justify-content: flex-end;
		width: 75%;
		.bibi {
			display: flex;
			justify-content: space-between;
			width: 80%;
		}
	}
}
h3,
h4,
p {
	margin: unset;
}

img {
	height: 111px;
	width: 86px;
}

.layoutPicto {
	padding-top: 26px;
	@include m.flexLayout(space-between, unset);
	width: 60%;
	padding-bottom: 64px;
}
.iconColor {
	color: v.$cream_color;
	width: 38px;
	height: 38px;
}

ul {
	list-style-type: none;
	padding: unset;
	margin: unset;
	li {
		padding-top: 26px;
	}
}
.subtitleFooter {
	border-top: 1px solid v.$white_color;
	border-bottom: 1px solid v.$white_color;
}
.mentionFooter {
	color: v.$white_color;
	font-size: 10px;
	text-align: center;
	font-family: v.$poppinsFont;
	display: flex;
	justify-content: center;
	width: 100%;
}

@media (max-width: 1000px) {
	.sectionFooter {
		.categoryFooter {
			width: 60%;

			.bibi {
				display: block;
			}
			.bibi > div {
				padding-bottom: 30px;
			}
		}
	}
}
@media (max-width: 770px) {
	.sectionFooter {
		display: block;

		.titleLogoFooter {
			display: flex;
			flex-direction: column;
			align-items: center;
			.logoFooter {
				font-size: 32px;
			}
		}

		.categoryFooter {
			padding-top: 60px;

			width: 100%;
			display: flex;
			justify-content: center;

			.bibi > .textCard {
				font-size: 24px;
			}
			.bibi > .textSearch {
				font-size: 16px;
			}
		}
	}
}
