@use "../../../style/variable" as v;
@use "../../../style/mixin" as m;

.mainFooter {
	padding-top: 300px;
	padding-bottom: 30px;
}
.sectionFooter {
	@include m.flexLayout(center, unset);

	width: 100%;
	padding-bottom: 100px;
	.titleLogoFooter {
		display: block;
	}
	.imageLayout {
		@include m.flexLayout(center, unset);
		padding-top: 30px;
	}
	.imageLayout > .image02 {
		display: none;
	}

	.categoryFooter {
		padding-top: 6px;
		@include m.flexLayout(flex-end, unset);

		width: 75%;
		.layoutCategory {
			@include m.flexLayout(space-between, unset);

			width: 80%;
		}
	}
}
h3,
h4,
p {
	margin: unset;
}

img {
	height: 111px;
	width: 86px;
}

.layoutPicto {
	padding-top: 26px;
	@include m.flexLayout(space-between, unset);
	width: 60%;
	padding-bottom: 64px;
}
.iconColor {
	color: v.$cream_color;
	width: 38px;
	height: 38px;
}

ul {
	list-style-type: none;
	padding: unset;
	margin: unset;
	li {
		padding-top: 26px;
	}
}
.subtitleFooter {
	border-top: 1px solid v.$cream_color;
	border-bottom: 1px solid v.$cream_color;
}
.mentionFooter {
	color: v.$white_color;
	font-size: 10px;
	text-align: center;
	font-family: v.$poppinsFont;
	@include m.flexLayout(center, unset);
	width: 100%;
}

@media (max-width: 1000px) {
	.sectionFooter {
		.categoryFooter {
			width: 60%;

			.layoutCategory {
				display: block;
			}
			.layoutCategory > div {
				padding-bottom: 30px;
			}
		}
	}
}
@media (max-width: 770px) {
	.sectionFooter {
		display: block;

		.titleLogoFooter {
			// display: flex;
			// align-items: center;
			flex-direction: column;
			@include m.flexLayout(unset, center);

			// display: flex;
			// flex-direction: row-reverse;
			// align-items: flex-end;
			// justify-content: space-around;
			// @include m.flexLayout(space-around, flex-end);
			.logoFooter {
				font-size: 32px;
			}
		}
		.imageLayout > .image01 {
			// display: none;
			display: block;
		}
		.imageLayout > .image02 {
			// width: 113px;
			// height: 145px;
			// color: v.$secondary_color;
			// display: block;
			display: none;
		}

		.categoryFooter {
			padding-top: 60px;

			width: 100%;
			display: flex;
			justify-content: center;

			.layoutCategory > .textCard {
				font-size: 24px;
			}
			.layoutCategory > .textSearch {
				font-size: 16px;
			}
		}
	}
}
