@use "../../../style/variable" as v;
@use "../../../style/mixin" as m;

h3,
h4,
p {
	margin: unset;
}

.mainFooter {
	padding-top: 300px;
	padding-bottom: 30px;
}
.sectionFooter {
	@include m.flexLayout(center, unset);

	width: 100%;
	padding-bottom: 100px;
	.titleLogoFooter {
		display: block;
	}
	.imageLayout {
		@include m.flexLayout(center, unset);
		padding-top: 30px;
	}
	.imageLayout > .imgage01 {
		height: 111px;
		width: 86px;
	}
	.imageLayout > .image02 {
		display: none;
	}

	.categoryFooter {
		padding-top: 6px;
		@include m.flexLayout(flex-end, unset);

		width: 75%;
		.layoutCategory {
			@include m.flexLayout(space-between, unset);

			width: 80%;
		}
	}
}

.layoutPicto {
	padding-top: 26px;
	@include m.flexLayout(space-between, unset);
	width: 60%;
	padding-bottom: 64px;
}
.iconColor {
	color: v.$cream_color;
	width: 38px;
	height: 38px;
}

ul {
	list-style-type: none;
	padding: unset;
	margin: unset;
	li {
		padding-top: 26px;
	}
}
.subtitleFooter {
	border-top: 1px solid v.$cream_color;
	border-bottom: 1px solid v.$cream_color;
}

@media (max-width: 1000px) {
	.sectionFooter {
		.categoryFooter {
			width: 60%;
			.layoutCategory {
				display: block;
			}
			.layoutCategory > div {
				padding-bottom: 30px;
			}
		}
	}
}
@media (max-width: 770px) {
	.sectionFooter {
		display: block;

		.titleLogoFooter {
			@include m.flexLayout(space-between, flex-end);
			width: 80%;
			margin: 0 auto;
			flex-direction: row-reverse;
		}
		.imageLayout > .image01 {
			display: none;
		}
		.imageLayout > .image02 {
			width: 113px;
			height: 145px;
			color: v.$secondary_color;
			display: block;
			padding-bottom: 14px;
		}

		.categoryFooter {
			padding-top: 60px;

			width: 100%;
			display: flex;
			justify-content: center;
		}
	}
}
