@use "../../../../style/mixin" as m;
@use "../../../../style/variable" as v;

.subtitleTable {
  padding-bottom: 30px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th {
  border-bottom: 1.5px solid v.$primary_color;
  border-top: 1.5px solid v.$primary_color;
  padding: 20px 0 20px 0;
}

.titleTable {
  text-align: left;
  padding-right: 25px;
}
.startColumn {
  padding-left: 25px;
  padding-right: 30px;
}
.endColumn {
  padding-right: 25px;
}
td {
  padding: 20px 0 20px 0;
  border-bottom: 1.5px solid v.$primary_color;
  font-size: 14px;
}
.fieldImage {
  overflow: hidden;
  word-break: break-word;
  text-overflow: ellipsis;
  svg {
    padding-left: 2rem;
  }
}
.titleAndButton {
  display: flex;
  justify-content: space-between;
}
.fieldCoordinates {
  display: flex;
  flex-direction: column;
}

.buttonText {
  background-color: v.$primary_color;
  border-radius: 10px;
  color: v.$white_color;
  padding: 4px 8px;
  border: unset;
  height: 31px;
  &:hover {
    cursor: pointer;
  }
}

.navButton {
  color: v.$primary_color;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  &:hover {
    @include m.buttonColor(v.$cream_color, v.$primary_color);
    transition: background-color 0.4s ease;
  }
}

.buttonContainer {
  display: flex;
  justify-content: space-between;
  padding: 20px 0 20px 0;
}
