@use "../../style/mixin" as m;
@use "../../style/variable" as v;
@use "../../style/placeholder";

.section_contribution {
  @include m.flexLayout(center, center, column);
  background: url("../../../public/bg-wave_login.svg"),
    url("../../../public/Illu_man_login.svg");
  background-size: cover, 11%;
  background-position: 0 180px, left 10% top 25%;
  background-repeat: no-repeat, no-repeat;

  h2 {
    font-family: v.$comicNeueFont;
    font-size: 48px;
    font-weight: 700;
  }

  li {
    list-style: none;
    font-size: small;
    background-color: v.$secondary_color;
    border-radius: 10px;
    padding: 0.5em;
    position: fixed;
    left: 1rem;
    top: 1rem;
  }

  // FORM
  form {
    border-radius: 20px;
    border: 3px solid v.$secondary_color;
    background: v.$secondary_color;
    @include m.flexLayout(space-around, center, column);
    gap: 1rem;
    width: 40vw;
    padding: 2em;
    margin-bottom: 5rem;

    h3 {
      @include m.flexLayout(start, start, column);
    }

    p {
      margin: 0;
      font-family: v.$poppinsFont;
      color: red;
      font-weight: 500;
      text-align: center;
    }

    div {
      position: relative;
      width: 100%;
      display: flex;
      @include m.flexLayout(center, center);
    }
    input,
    select {
      @extend %inputForm;
      @include m.buttonSize(80%, auto, 1em);
      padding: 1em;
      border: none;
    }

    input::placeholder,
    option {
      color: v.$primary_color;
      font-size: 15px;
      font-family: "Comic Neue", cursive;
      font-weight: 700;
      margin-left: 2em;
    }

    input:focus {
      outline: none;
    }

    input[type="submit"] {
      width: 40%;
      border-radius: 10px;
      background: v.$cream_color;
      color: v.$primary_color;
      font-size: 20px;
      font-weight: 600;
      cursor: pointer;
      padding: 0.5em 1em;
      border: none;
    }

    a {
      color: v.$primary_color;
      font-size: 16px;
      font-weight: 500;
      text-align: center;
    }
  }
}

@media (max-width: 768px) {
  .section_contribution {
    background: url("../../../public/bg-wave_login.svg");
    background-size: cover;
    background-position: 0 180px;
    background-repeat: no-repeat;
    justify-content: flex-end;

    form {
      width: 70vw;
      padding: 0.5em;
      margin-bottom: 7rem;
    }
  }
}
