@import "../../../style/variable";
@import "../../../style/mixin";

.container {
    margin: 50px auto;
    width: 80%;
    @media (max-width: 768px) {
        max-width: 348px;
    }

    .slider {
        position: relative;

        .arrow {
            position: absolute;
            top: 45%;
            z-index: 2;
            @include unbuttonize;
            cursor: pointer;
            font-size: 32px;
            color: $primary-color;
        }
        .prevArrow {
            left: 0;
        }

        .nextArrow {
            right: 0;
        }
    }

    h2 {
        color: $primary-color;
        margin-bottom: 50px;
        text-align: left;
    }
    .cardsContainer {
        display: grid;
        gap: 50px;
        width: 100%;

        @media (min-width: 768px) {
            grid-template-columns: repeat(2, 1fr);
        }

        @media (min-width: 1100px) {
            grid-template-columns: repeat(3, 1fr);
        }
        @media (min-width: 1450px) {
            grid-template-columns: repeat(4, 1fr);
        }
    }
}
