@import 'style/variable';
@import 'style/mixin';
@import 'style/placeholder';

html {
    background-color: $primary_color;
}

body {
    margin: 0;
}


// TYPOGRAPHIE
h1,
h3,
a {
    font-family: 'Poppins', sans-serif;
}

h2 {
    font-family: 'Comic Neue', cursive;
}
// FONT WEIGHT

h1, h3 {
    font-weight: 700;
}

// COLORS
h2, h3 {
    color: $primary_color;
}

h1 {
    font-size: 40px;
    color: $white_color; 
}

h2 {
    font-size: 36px;
    color: $white_color;
    text-align: center;
}

h3 {
    font-size: 32px;
}



// input {
//     @extend %inputForm;
// }

