@use "style/variable" as v;
@use "style/mixin";
@use "style/placeholder";
@use "style/desktop";
@use "style/mobile";

html {
  background-color: v.$primary_color;
  font-family: "Poppins", sans-serif;
}

h1 {
  font-family: "Poppins", sans-serif;
  font-size: 40px;
  font-weight: 700;
  color: v.$white_color;
}
