@use "../../../style/variable" as v;
@use "../../../style/mixin" as m;
ol {
	list-style-type: unset;
}
.contentAsideMenu {
	background-color: v.$cream_color;
	padding: 68px 33px;
}
.iconSpaces {
	padding-right: 15px;
}
.svg-inline--fa {
	vertical-align: unset;
}

.itemFlex {
	display: flex;
	align-items: baseline;
}
.itemAsideMenu {
	color: v.$primary_color;
}
