@import "../../../style/variable";
@import "../../../style/mixin";

.popup--container {
  left: -162px !important;
  bottom: 40px !important;
  .popup-image {
    width: 100%;
    max-height: 200px;
    border-radius: 20px;
  }
  h3 {
    font-size: 20px;
    padding: 0.5em 0;
  }

  .secondary_info {
    border-radius: 10px;
    background: var(--cream, #f5f6e2);
    padding: 1em;
    overflow-y: auto;
    height: 100px;
    width: 90%;

    &::-webkit-scrollbar {
      width: 14px;
      background: #d9d9d9;
      border-radius: 10px;
    }
    &::-webkit-scrollbar-thumb {
      background-color: var(--cream, #f5f6e2);
      border-radius: 10px;
    }
    h4 {
      font-size: 16px;
      font-family: $comicNeueFont;
      color: $primary_color;
    }

    h4:not(h4:first-of-type) {
      margin: 0.5em 0;
    }

    p {
      margin: 0;
    }
  }

  .loginButton {
    @include unbuttonize;
    @include buttonSize(191px, 49px, 18px);
    @include buttonColor($secondary_color, $primary_color);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $poppinsFont;
    font-weight: 600;
    margin: 0 auto;
    cursor: pointer;
  }
}
