@import '../../../style/variable';

.popup--container {
    left: -162px !important;
    bottom: 40px !important;
    .popup-image {
            width: 100%;
            max-height: 200px;
            border-radius: 20px;
        }
    h3 {
        font-size: 32px;
    }
    
    .secondary_info {
        border-radius: 10px;
        background: var(--cream, #F5F6E2);
        padding: 1em;
        overflow-y: auto;
        height: 100px;

        &::-webkit-scrollbar {
            width: 14px;
            background: #D9D9D9;
            border-radius: 10px;
            
        }
        &::-webkit-scrollbar-thumb {
            background-color: var(--cream, #F5F6E2);
            border-radius: 10px;
        }
        h4 {
            font-size: 16px;
            font-family: $comicNeueFont;
            color: $primary_color;
        }

        h4:not(h4:first-of-type) {
            margin: 0.5em 0;
        }



        p {
            margin: 0;
        }
    
    }

     
 
}
