@use "../../../style/mixin" as m;
@use "../../../style/variable" as v;

.modalContainer {
	background-color: v.$white_color;
	border: 1px solid v.$primary_color;
	border-radius: 5px;
	padding: 10px;
	width: 350px;
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 550px;
	left: 45%;
}
.closeButton {
	background-color: unset;
	border: unset;
	width: 20px;
	align-self: flex-end;
}
.inputModal {
	border-radius: 5px;
	background-color: v.$white_color;
	color: v.$gray_color;
	padding: 5px;
	border: 1px solid v.$primary_color;
	margin-bottom: 10px;
}
.buttonModal {
	width: 100px;
	@include m.buttonColor(v.$primary_color, v.$white_color);
	border-radius: 5px;
	padding: 10px;
	border: unset;
	margin: 0 auto;
}

.simpleInput {
	display: flex;
	flex-direction: column;
}
.doubleInput {
	display: flex;
	justify-content: space-between;
	margin-bottom: 10px;
}
