@use "../../../style/mixin" as m;
@use "../../../style/variable" as v;

.leaflet-bar {
    border: initial!important;
}
.leaflet-control-container {
    >.leaflet-top.leaflet-left {
        position: relative;
        text-align: center;
        margin: 0 auto;
    }
}

.geosearch {
    form {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        width: 100vw;
        
        input {
            border: 1px solid v.$secondary_color;
            width: 40vw;
            padding: 1em;
            font-size: 24px;
            font-family: v.$comicNeueFont;
            margin: 0 auto;
            &::placeholder {
                font-size: 24px;
                font-family: v.$comicNeueFont;
                font-weight: 700;
                color: v.$primary_color;
            }
        }

        button {
            display: none;
        }

        .results.active {
            width: 40vw;
            margin: 0 auto;
            background-color: white;
            padding: 0 2em;
            text-align: initial;

            div[data-key="0"] {
                margin: 0.5em 0;
            }

            div[data-key="1"],div[data-key="2"],div[data-key="3"]  {
                display: none;
            }
        }
    }
    a {
        display: none;
    }
}
