name: staging

on:
  push:
    branches: ["staging"]

jobs:
  update-docker-image-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          context: "{{defaultContext}}:frontend"
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/cg-staging-frontend:latest

  update-docker-image-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Set up QEMU
        uses: docker/setup-qemu-action@v2
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          context: "{{defaultContext}}:backend"
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/cg-staging-backend:latest

  send_staging_webhook:
    needs:
      - update-docker-image-frontend
      - update-docker-image-backend

    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Send Webhook
        env:
          WEBHOOK_URL: ${{ secrets.WEBHOOK_STAGING_URL }} # Define the webhook URL as a secret in your repository
        run: |
          curl -X POST -H "Content-Type: application/json" -d '{
            "repository": "${{ github.repository }}",
            "ref": "${{ github.ref }}",
            "commits": ${{ toJson(github.event.commits) }}
          }' $WEBHOOK_URL
